.App {
  width: 100vw;
  height: 100vh;
  background-color: #202020;
  display: grid;
  grid-template-areas: "canvas settings";
  grid-template-columns: 3fr 1fr;
  color: white;
}

canvas {
  grid-area: canvas;
}

.settings {
  grid-area: settings;
  border-left: 1px solid white;
}

.active {
  background-color: pink;
}
